.table {
  background-color: #161d20;
}

.tableHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
}

.cellPositive{
  color: #2e7d32;
}

.cellNegative{
  color: #d32f2f;
}