.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 1rem;

  button {
    padding: 15px 20px;
  }
}

.modal {
  h2 {
    text-align: center;
  }
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    flex-direction: row;
  }
}
