$breakPoint: 1000px;

.wrapper {
  display: flex;
}

.transactions {
  display: block;
  padding: 1rem 2rem;
  width: 100%;
  background-color: #050307;

  @media screen and (min-width: $breakPoint) {
    display: flex;
  }

  p {
    font-family: "Open Sans", sans-serif;
  }
}

.chart {
  max-width: 100%;
  width: 100%;

  @media screen and (min-width: $breakPoint) {
    max-width: 80%;
  }
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
  width: 100%;

  @media screen and (min-width: $breakPoint) {
    flex-direction: column;
    max-width: 20%;
  }
}

.card {
  text-align: left;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  background-color: #050307;

  @media screen and (min-width: $breakPoint) {
    padding: 0.8rem;
  }
}

.cardSection {
  display: flex;
}

.cardIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.cardTitle {
  font-size: 1.8rem;
}

.cardValue {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0;

  p:nth-child(2) {
    padding-left: 5px;
  }
}

.cardLink {
  display: flex;
}

.chartHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: row;
  }
}

.chartFilter {
  p {
    padding-right: 15px;
  }
}
