.drawerHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  background-color: #2B2D3F;
}

.link {
  text-decoration: none;
}

.list {
  height: 100%;
  background-color: #2B2D3F;
}
