@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
}

.logoName {
  font-family: "Righteous", cursive;
}
